#tools {
    padding: 50px 10%;
    background-color: #185ADB;
    color: #fff;
    text-align: center;
}

.sectionName {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 40px;
}

.toolsButtons {
    display: flex;
    gap: 30px;
    justify-content: center;
}